@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;500&display=swap');
@import './media-r.scss';

*, *::after, *::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style-type: none;
}
body {
   max-width: 1500px;
   background-color: $white-bg;
   position: relative;
   margin: 0 auto;

   &::after {
      position: absolute;
      content: url(/src/assets/img/trapezoid.png);
      top: 0;
      right: 0;
}
} 
.bounding-container {
   max-width: 1140px;
   height: 100%;
   margin: 0 auto;
   background-color: $white-bg;

      
   header{
      
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: Roboto, sans-serif;
      height: 39px;
      margin: 39px 0;  

      .logo-wrapper{
         display: flex;
         align-items: center;
         gap: 10px;
         cursor: pointer;
         span {
            font-weight: 500;
            font-size: 22px;
            text-transform: uppercase;
         }
      }
      .nav-wrapper {
         cursor: pointer;
         .nav-list {
            display: flex;
            gap: 55px;
            font-weight: 400;
            font-size: 16px;
         }      
      
      }

      .icons-wrapper {
         cursor: pointer;
         display: flex;
         gap: 40px;
      }

   }
      
   .main-page {
      height: 593px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 130px;

      img {
         transform: scale(1.5);
         z-index: 10;
      }
      
      .main-info-wrapper { 
         .main-title {
            font-family: Poppins, sans-serif;
            font-size: 100px;
            font-weight: 700;
            text-align: left;
         }
         .button-primary {
            margin-top: 60px;
         }
      }
      
   }

   .products-wrapper {
      height: 275px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      gap: 30px;
      margin-bottom: 118px;

      .description {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         height: 241px;
         width: 33.3%;
         padding: 40px 25px 18px;
         border: 1px solid rgba(0, 0, 0, 0.1);
         border-radius: 8px;

         &.first {
            position: relative;
            &::before {
               content: url(/src/assets/img/simple-bowl-bg.png);
               position: absolute;
               top:-30px;
               transform: translate(15%, 0);
            }
            &::after {
               content: url(/src/assets/img/simple-bowl-removebg-preview.png);
               position: absolute;
               z-index: 1;
               top: -20px;
               transform: translate(30%, 0);
            }
         }
         &.second {
            border: none;
            box-shadow: 0px 0px 8px 1px rgba(226, 123, 58, 0.1);
            -webkit-box-shadow: 0px 0px 8px 1px rgba(226, 123, 58, 0.1);
            -moz-box-shadow: 0px 0px 8px 1px rgba(226, 123, 58, 0.1);
            position: relative;
            &::before {
               content: url(/src/assets/img/green-bowl-bg.png);
               position: absolute;
               top:-30px;
               transform: translate(15%, 0);
            }
            &::after {
               content: url(/src/assets/img/green-bowl-removebg-preview.png);
               position: absolute;
               z-index: 1;
               top: -20px;
               transform: translate(18%, -12%);
            }
         }

         &.third {
            position: relative;
            &::before {
               content: url(/src/assets/img/tin-bg.png);
               position: absolute;
               top:-30px;
               transform: translate(15%, 0);
            }
            &::after {
               content: url(/src/assets/img/tin-removebg-preview.png);
               position: absolute;
               z-index: 1;
               top: -20px;
               transform: translate(30%, 0);
         }
      }

         h3 {
            font-family: Poppins, sans-serif;
            font-size: 25px;
            font-weight: 400;
            text-align: center;
            margin-bottom: 11px;
         }

         p {
            font-family: Roboto, sans-serif;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            margin-bottom: 24px;
         }

   }
   }

   .popular-products {
      margin-bottom: 60px;
      h2 {
         text-align: center;
         margin-bottom: 18px;
      }
      .title-tertiary {
         text-align: center;
         margin-bottom: 40px;
      }
      .two-products-wrapper {
         display: flex;
         gap: 30px;
         margin-bottom: 66px;
         text-align: center;

         .product-wrapper-big {
            flex: 0 1 50%;

            div {
               position: relative;
            }

            .first-big {
               &::before {
                  content: url(/src/assets/img/blue-leash-removebg-preview.png);
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
               }
            }
            .second-big {
               &::before {
                  content: url(/src/assets/img/collars-removebg-preview.png);
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
               }
         }
         p {
            margin-top: 25px;
            font-family: Poppins, sans-serif;
            font-size: 25px;
            font-weight: 500;
            text-align: center;
            margin-bottom: 9px;
         }
      }
   }

      .three-products-wrapper {
         display: flex;
         gap: 30px;
         margin-bottom: 46px;
         text-align: center;

         .product-wrapper-small {
            flex: 0 1 33.333%;
            

            div {
               position: relative;
               height: 273px;
            }

            .first-small {
               &::before {
                  content: url(/src/assets/img/brown-leash-removebg-preview.png);
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
               }
            }
            .second-small {
               &::before {
                  content: url(/src/assets/img/black-collar-removebg-preview.png);
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
               }
            }
            .third-small {
               &::before {
                  content: url(/src/assets/img/pink-collar-removebg-preview.png);
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
               }
            }
         }
         p {
            margin-top: 23px;
            font-family: Poppins, sans-serif;
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            margin-bottom: 9px;
         }
      }
   }

   .subscription-benefits {
         display: flex;
         justify-content: center;
         align-items: center;
         margin-bottom: 86px;

         img {
            transform: translate(-15%);
         }
         .benefits {
            margin-left: -80px;
            .orange-title {
            font-family: Roboto, sans-serif;
            font-size: 16px;
            font-weight: 500;
            text-align: left;
            color: $orange;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            margin-bottom: 4px;
         }
         .title-secondary {
            margin-bottom: 18px;
         }
         .title-tertiary {
            margin-bottom: 40px;
         }
         .button-primary {
            width: 189px;
         }
      }
   }

   .monthly-subscription {
      margin-bottom: 130px;
      .title-secondary {
         text-align: center;
         margin-bottom: 36px;
      }
      .button-primary {
         margin: 46px 50% 0 50%;
         transform: translate(-50%, -50%);
      }
      .dogs-columns-wrapper {
         display: flex;
         justify-content: space-evenly;
         gap: 15px;
         img {
            margin-bottom: 30px;
         }
         .column {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .column-description {
               font-family: Poppins, sans-serif;
               font-size: 20px;
               font-weight: 500;
               text-align: center;
               margin-bottom: 22px;
            }
            .title-tertiary{
               font-size: 15px;
               text-align: center;
            }

            .button-border-none {
               margin: 15px 0 46px;
            }
         }
         
      }
   }

   .popular-products-gallery {
      height: 519px;
      display: flex;
      gap: 31px;
      margin-bottom: 130px;
      .gallery-description {
         flex: 0 1 50%;


         .title-secondary {
            margin-bottom: 16px;
            text-align: center;
         }
         .title-tertiary {
            margin-bottom: 38px;
            text-align: center;
         }

         .gallery-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;

            .square {
               width: 262px;
               height: 170px;
               border-radius: 5px;
            }
               
               .gallery-first {
                  position: relative;
                  background: $gallery-first-bg;

                  &::before {
                     content: url(/src/assets/img/red-collar-removebg.png);
                     position: absolute;
                     top: 50%;
                     left: 50%;
                     transform: translate(-50%, -50%);
                  }

               }
               .gallery-second {
                  position: relative;
                  background: $gallery-second-bg;

                  &::before {
                     content: url(/src/assets/img/blue-collar-lash-removebg-preview.png);
                     position: absolute;
                     top: 50%;
                     left: 50%;
                     transform: translate(-50%, -50%);
                  }
               }
               .gallery-third {
                  position: relative;
                  background: $gallery-third-bg;

                  &::before {
                     content: url(/src/assets/img/flower-collar-removebg-preview.png);
                     position: absolute;
                     top: 50%;
                     left: 50%;
                     transform: translate(-50%, -50%);
                  }
               }
               .gallery-fourth {
                  position: relative;
                  background: $gallery-fourth-bg;

                  &::before {
                     content: url(/src/assets/img/purple-collar-removebg-preview.png);
                     position: absolute;
                     top: 50%;
                     left: 50%;
                     transform: translate(-50%, -50%);
                  }
               }
            
         }
      }

      .gallery-fifth {
         height: 509px;
         flex: 0 1 50%;
         border-radius: 10px;
         position: relative;
         background: $gallery-fifth-bg;

                  &::before {
                     content: url(/src/assets/img/collar-dog-removebg-preview.png);
                     position: absolute;
                     top: 50%;
                     left: 50%;
                     transform: translate(-50%, -50%)
                  }
         
      }
   }

   .reviews {
      height: 370px;
      margin-bottom: 86px;
      .title-secondary {
         text-align: center;
         margin-bottom: 22px;
      }
      .review-comments-wrapper {
         margin-left: 25%;
         
      }
      .review-comment {
         width: 555px;
         height: 272px;
         box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.06);
         border-radius: 10px;
         background: $white-bg;
         position: relative;
      }
      .block-1 {
         &::before {
            content: url(/src/assets/img/arrow.png);
            position: absolute;
            z-index: 20;
            top: 60%;
            right: -12%;
         }
         &::after {
            content: url(/src/assets/img/arrow.png);
            position: absolute;
            z-index: 20;
            top: 75%;
            right: -12%;
            transform: rotate(180deg);
            opacity: 0.4;
         }
      }
      .block-2 {top: -262px;
         left: 10px;
         z-index: 2;
      }
      .block-3 {top: -524px;
         left: 20px;
         z-index: 4;
      }
      .block-4 {
         top: -786px;
         left: 30px;
         z-index: 5;
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 30px 30px 10px 30px;
         gap: 20px;
         text-align: center;
         &::before {
            content: url(/src/assets/img/quotes.png);
            position: absolute;
            z-index: 10;
            left: 5%;
         }
         &::after {
            content: url(/src/assets/img/quotes.png);
            position: absolute;
            z-index: 10;
            top: 70%;
            right: 5%;
            transform: rotate(180deg);
         }
         p:first-of-type {
            color: $gray-text;
         }
         span {
            color: $gray-text;
            font-size: 12px;
            line-height: 24px;
         }
      }
   }

   .form-wrapper {
      height: 346px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 96px;
      position: relative;
      margin-bottom: 70px;
      &::before {
         content: '';
         position: absolute;
         background: $blue-bg;
         width: 100%;
         height: 100%;
         border-radius: 10px;
         transform: skew(0deg,-2deg);
      }
      .form-wrapper-discription {
         position: relative;
         .title-secondary {
            margin-bottom: 18px;
            color: $white-bg;
         }
         .title-tertiary {
            color: $white-bg;
         }
      }
      form {
         position: relative;
         display: flex;
         justify-content: center;
         align-items: center;
         input {
            border-radius: 10px 0 0 10px;
            background: $white-bg;
            padding: 15px 200px 15px 21px;
            border: none;
         }
         button {
            border-radius: 0 10px 10px 0;
            background: $orange;
            padding: 15px 37px 15px 37px;
            border: none;
         }
      }
   }

   .triangle {
      width: 0;
      height: 0;
      border-left: 300px solid transparent;
      border-right: 300px solid transparent;
      border-bottom: 63px solid $black-bg;
      margin: 0 auto;
   }
   }
   footer {
      height: 300px;
      background: $black-bg;

      .footer-wrapper{
      margin: 0 auto;
      width: 1140px;
      height: 200px;
      display: flex;
      justify-content: center;
      background: $black-bg;

      div:first-of-type {
         .footer-text {
            text-align: left;
            span {
               color: $orange;
            }
         }
      }
         .text-column {
            margin:69px 0 0;
            flex: 33.333%;
            .footer-text {
               color: $white-bg;
               font-family: Roboto;
               font-size: 16px;
               font-weight: 400;
               line-height: 19px;
               letter-spacing: 0em;
               text-align: right;
               margin-bottom: 37px;
            }
         }
         .nav-column {
            flex: 33.333%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .footer-logo {
               margin-bottom: 18px;
            }
         }
            .footer-title {
               flex-grow: 1;
               color: $white-bg;
               font-family: Roboto;
               font-size: 26px;
               font-weight: 500;
               line-height: 30px;
               text-align: left;
            }
            .logo-wrapper {
               :nth-child(2n) {
                  margin:0 25px;
               }
            }
         }
   }



//--------------------------------------for reuse-----------------------------------------//

.button-primary {
   color: #FFFFFF;
   background: $orange;
   border-radius: 24px;
   width: 139px;
   height: 48px;
   border: none;
   font-family: Roboto, sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0em;
   text-align: center;
   margin-right: 20px;   
   cursor: pointer;  
   &.transparent {
      background: transparent;
      color: $orange;
      border: 1px solid $orange;
   }
}

.button-border-none {
height: 24px;
border: none;
background: transparent;
cursor: pointer;
color: $orange;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: center;
}   
.square {
height: 420px;
background: $light-pink-bg;
border-radius: 20px;
}

.square-border {
width: 185px;
height: 48px;
border: 1px solid $orange;
border-radius: 4px;
margin: 46px 50% 0 50%;
transform: translate(-50%, -50%);
}
.title-secondary {
   font-family: Poppins, sans-serif;
   font-size: 32px;
   font-weight: 500;
}
.title-tertiary {
   font-family: Roboto, sans-serif;
   font-size: 16px;
   font-weight: 400;
   color: $black-text;
   opacity: 0.6;
}
//--------------------------------------for reuse-----------------------------------------//