//
$main-bg: #E5E5E5;
$light-pink-bg: #FCF2EB;
$pink-bg:#C4154B;
$white-bg: #FFFFFF;
$blue-bg: #2E96FF;
$black-bg: #140A03;

$gallery-first-bg: rgba(144, 10, 8, 0.1);
$gallery-second-bg:rgba(36, 61, 126, 0.1);
$gallery-third-bg: rgba(128, 1, 37, 0.1);
$gallery-fourth-bg: rgba(196, 140, 174, 0.1);
$gallery-fifth-bg: rgba(196, 21, 75, 0.1);




//text
$orange: #E27B3A;
$black-text: #170C04;
$gray-text: rgba(23, 12, 4, 0.7);